{% extends 'base.html' %}

{% block head %}
    <title>Rasptank</title>
{% endblock %}

{% block body %}
    <h1>Rasptank</h1>
    <h2>Servo_11</h2>
    <p><a href="/servo/11_0">&#8592;</a></p>
    <p><a href="/servo/11_1">&rarr;</a></p>
    <h2>Servo_12</h2>
    <p><a href="/servo/12_0">&#8592;</a></p>
    <p><a href="/servo/12_1">&#8594;</a></p>
    <h2>Servo_13</h2>
    <p><a href="/servo/13_0">&#8592;</a></p>
    <p><a href="/servo/13_1">&#8594;</a></p>
    <h2>Servo_14</h2>
    <p><a href="/servo/14_0">&#8592;</a></p>
    <p><a href="/servo/14_1">&#8594;</a></p>
    <h2>Servo_15</h2>
    <p><a href="/servo/15_1">&#8592;</a></p>
    <p><a href="/servo/15_1">&#8594;</a></p>
    <br>
    <h2>Motor</h2>
    <p><a href="/move/">&#8593;</a></p>
    <p><a href="/move/">&#8595;</a></p>
    <p><a href="/move/">&#8592;</a></p>
    <p><a href="/move/">&#8594;</a></p>

    <p><a href="/move/">&#8598;</a></p>
    <p><a href="/move/">&#8599;</a></p>
    <p><a href="/move/">&#8600;</a></p>
    <p><a href="/move/">&#8601;</a></p>

    <br>
    <h2>shot</h2>
    <p><a href="/shoot">&#8601;</a></p>
    <h2>Camera</h2>
    <p><a href="/picture">&#8601;</a></p>
{% endblock %}
