{% extends 'base.html' %}

{% block head %}
    <title>Rasptank</title>
{% endblock %}

{% block body %}
    <h1>Rasptank</h1>

    <div >

    <div id="servo">
    <p>Servo_11</p>
    <br>
    <p><a href="/servo/11_0">&#8592;</a></p>
    <p><a href="/servo/11_1">&rarr;</a></p>
    </div>

    <div id="servo">
    <p>Servo_12</p>
    <br>
        <p><a href="/servo/12_0">&#8592;</a></p>
    <p><a href="/servo/12_1">&#8594;</a></p>
    </div>

    <div id="servo">
        <p>Servo_13</p>
    <br>
        <p><a href="/servo/13_0">&#8592;</a></p>
    <p><a href="/servo/13_1">&#8594;</a></p>
    </div>

    <div id="servo">
        <p>Servo_14</p>
    <br>
        <p><a href="/servo/14_0">&#8592;</a></p>
    <p><a href="/servo/14_1">&#8594;</a></p>
    </div>

    <div id="servo">
        <p>Servo_15</p>
    <br>
        <p><a href="/servo/15_1">&#8592;</a></p>
    <p><a href="/servo/15_1">&#8594;</a></p>
    </div>

    </div>

    <div id="motor">
    <p>Motor</p>
    <p><a href="/move/forward_no">&#8593;</a></p>
    <p><a href="/move/backward_no">&#8595;</a></p>
    <p><a href="/move/no_left">&#8592;</a></p>
    <p><a href="/move/no_right">&#8594;</a></p>

    <p><a href="/move/forward_left">&#8598;</a></p>
    <p><a href="/move/forward_right">&#8599;</a></p>
    <p><a href="/move/backward_right">&#8600;</a></p>
    <p><a href="/move/backward_left">&#8601;</a></p>
    </div>

    <div id="shoot">
    <p>shot</p>
    <p><a href="/shoot">&#8601;</a></p>
    </div>

    <div id="picture">
    <p>Camera</p>
    <p><a href="/picture">&#8601;</a></p>
    </div>

{% endblock %}
